.inner {
	height: 450px ;
	width: 100% ;
	background-color: #fefbd8;
	

}
#picOne {
	height: 450px ;
	width: 100% ;
	object-fit: cover;
	border-radius: 20px 10px 15px 10px;
}

.object {
	height: 200px ;
	width: 100px ;

}

.picContainer {
	height: 100px ;
	width: 60px ;
}

.showcase {
}

ul {
	list-style-type: none;
	overflow: none;	
}

li {
	float: left;	
}

#picTwo {
	height: 160px ;
	width: 100px ;
	object-fit: cover;
	border-radius: 20px 10px 15px 10px;
}
