#navigation {
	list-type:  none;
	border: 2px;
	margin-top: 5px;
	margin-left: 15px;
	
	height: 60px;
	width: 1200px;
	display: flex;
	align-items: center;
	
	
	
}

nav {
	height: 70px;
	margin-left: 0px;
	position: sticky;
	background-color: yellow;
	display: flex;
	flex-direction: row;
	
}

#holder {
	width: 100px;
	height: 50px;
	display: flex;
	flex-direction: row;
}

#holder div {
	width: 50px;
	height: 50px;
	position: absolute;
	margin: 10px 0px 0px 10px;
}

#link a {
	font-size: 40px;
	margin: 0px 0px 0px 5px;
	opacity: 0;
}

#logo {
	width: 50px;
	height: 50px;	
}

#logo img {
	width: 50px;
	height: 50px;	
	object-fit: cover;
	padding: none;
	margin: none;
}

#itemNav {
	width: 200px;
	height: 50px;
	display: flex;
	flex-direction: column;
}

.nav_items {
	width: 200px;
	height: 35px;
	margin: 0px 0px 0px 20px;
	display: flex;
	flex-direction: row;
	justify-content: sapce-between;
}

.nav_items a {
	width: 25px;
	height: 25px;
	margin: 0px 0px 0px 20px;
}
.nav_items img {
	object-fit: cover;
	width: 25px;
	height: 25px;
}



body {
	margin-left: 0px;
	margin-right: 0px;
}

#navigation li {
	
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	float:inline-start;
	width: 100px;
	height: 40px;
	border: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	
		
	

}
li a:hover {
	color: white;
}

li:hover {
	background-color: black;	
}



a {
	text-decoration: none;
	color: black;
	height: 40px;
	width: 100px;
	padding-left: 10px;
	border: 2px;
	float: left;
	border-color: black;
	text-align: center;
	padding: 25px 0px 10px 0px;
	
		
}
