#picOne {
	height: 250px ;
	width: 150px ;
	object-fit: cover;
	border-radius: 15px 10px 15px 15px;
	margin-left: 15px;
	margin-top: 10px;
}


.cont {
	height: 340px;
	width: 180px;
	margin-left: 15px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: #fefbd8;
}

h1 {
	font-size: 15px;
	margin-left: 15px;
	
}

h2 {
	font-size: 13px;
	margin-left: 15px;
}

.butt{
	width: 80px;
	height: 40px;

}

button {
	margin-top: 10px;
	margin-left: 15px;
}